# -------------------------
# Virtual environments
# -------------------------
venv/
hfenv/
.venv/

# -------------------------
# Data folders (RAW + cleaned)
# -------------------------
data/
local_test/output/

# BUT allow .gitkeep placeholders if you want structure
!data/.gitkeep

# -------------------------
# Models (large HF weights)
# -------------------------
metadata/models/

# Allow other metadata files (results, configs)
!metadata/.gitkeep
!metadata/results/
!metadata/results/**

# -------------------------
# Byte-compiled / cache files
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Editor configs
# -------------------------
.vscode/
.idea/

# -------------------------
# Jupyter checkpoints
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Model folders accidentally added
# -------------------------
fairface_gender_image_detection_pt/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db