# Data processing libraries
datasets
Pillow
tqdm
numpy
pandas
matplotlib

# Data cleaning libraries
## Keep only frontal-ish faces
opencv-python==4.5.5.64

# API libraries
torch
torchvision
transformers
huggingface_hub